<div class="container">
  <div id="gallery" style="display: none;">
    <% @photos.each do |photo| %>
      <a href="#">
        <img alt="<%= photo.name %>" src="<%= photo.photo.url() %>" data-image="<%= photo.photo.url %>" data-description="<%= photo.description %>" style="display: none" />
      </a>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('#gallery').unitegallery({
      gallery_theme: 'tiles',
      tiles_type: 'nested'
    });
  });
</script>
