<%= form_tag(search_result_path, method: "POST") do %>
  <%= render_gmap_coordinate_picker :zoom_level => 15, :default_coordinates => [10.780260, 106.698522]%>
  <%= text_field_tag(:name) %>
  <div class="actions">
    <%= submit_tag "Search", class: 'btn btn-primary' %>
  </div>
<% end %>