<div class="container image-show">
    <div class="image-info">
        <blockquote class="description">
            <p><%= @photo.description %></p>
             <footer><%= @photo.name %></footer>
        </blockquote>
    </div>

    <%= image_tag @photo.photo.url %>
</div>
