.navbar-default {
  background-color: rgba(0, 0, 0, 0.25);
}

.navbar-default .navbar-nav > li > a {
  color: rgb(248, 248, 248);
}

.navbar-default .navbar-brand {
  color: rgb(248, 248, 248);
}

body {
  background-color: rgba(0, 0, 0, 0.8);
}

#preloader {
  background-color: rgb(51, 51, 51);
}

.form-control {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
}

form {
  &.new_photo, &.edit_photo, &.auth-form {
    margin-top: 82px;
    margin-bottom: 20px;
    color: #fff;

    a {
      color: #1abc9c;
      font-size: 14px;
      display: block;
    }
  }
}

.auth-form {
  margin-bottom: 20px;
  color: #fff;
}

.gmap_coordinate_picker_container {
  margin-bottom: 20px;
}

.image-show {
  position: relative;
  img {
    width: 100%;
  }
  .image-info {
    position: absolute;
    bottom: 20px;
    left: 36px;
    color: #fff;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    blockquote {
      margin-bottom: 0;
    }
    footer {
      background-color: transparent;
    }
    .photo-edit-link {
      color: #fff;
      margin-top: 10px;
      display: inline-block;
    }
  }
}

#gallery {
  margin-top: 82px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  #gallery {
    margin-top: 20px;
  }
}

.search-container {
  position: fixed;
  top: 20px;
  left: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #1abc9c;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  &.open {
    display: block;
  }
  .search-form {
    margin-top: 20px;
    .actions {
      margin-bottom: 20px;
    }
  }
  .btn-close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    cursor: pointer;
  }
}

.search-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background: url(search.png) no-repeat center center;
  background-size: 25px 25px;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 30px;
  cursor: pointer;
  z-index: 9998;
}
